# Séries Temporais
> Seguindo o Livro: "Time Series Analysis with Python - Cookbook"  
> Autor: Tarek A. Atwan  
> Editora: Packt

### Prefacio

> Código: https://github.com/PacktPublishing/Time-Series-Analysis-with-Python-Cookbook  
> Videos: https://www.youtube.com/watch?v=RlW70yuY_E4&list=PLeLcvrwLe186TznSbF0RC3RhUzZqHoXw_  
> Imagens: https: // static.packt-cdn.com/downloads/9781801075541_ColorImages.pdf (Falhando)

## Cap.1:  Getting Started with Time Series Analysis

> Objetivos:  
- Setup de desenvolvimento;  
- Instalar as bibliotecas de Python;  
- Intalando JupyterLab e suas extensões;  

> Requisitos Técnicos:  
- VSCode

### 1.1 Criando as envs.

In [ ]:
#Criando a venv
!python -m venv py3_serie_temporal

#Ativando a venv no Windowns
!./py3_serie_temporal/Scripts/activate
 
 #Intalando as bibliotecas
!python3.11.exe -m pip intall -r requirements.txt

#Criar o requirements.txt com o venv:
!pip freeze > requirements.txt

## Cap 2: Lendo dados de séries temporais

> Objetivos:  
- Ler dados de CSV  
- LEr dados de arquivos Excel  
- Ler dados de URL  
- Ler dados de um dataser SAS.  

>Datasets:  
https://github.com/PacktPublishing/Time-Series-Analysis-with-Python-Cookbook/tree/main/datasets/Ch2

In [6]:
import pandas as pd
from pathlib import Path

In [3]:
#Lendo dados de um arquivo CSV

path_arquivo = Path('Datasets/Cap2/movieboxoffice.csv')

ts = pd.read_csv(path_arquivo, header = 0, 
                 parse_dates=['Date'], #Informa qual coluna tem informação de data
                 index_col=0, 
                 infer_datetime_format=True,
                 usecols=['Date', 'DOW', 'Daily', 'Forecast', 'Percent Diff'])
ts

C:\Users\miria\AppData\Local\Temp\ipykernel_31372\1967946489.py:6: FutureWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  ts = pd.read_csv(path_arquivo, header = 0,
C:\Users\miria\AppData\Local\Temp\ipykernel_31372\1967946489.py:6: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  ts = pd.read_csv(path_arquivo, header = 0,

                  DOW         Daily      Forecast Percent Diff
Date
2021-04-26     Friday  $125,789.89   $235,036.46       -46.48%
2021-04-27   Saturday   $99,374.01   $197,622.55       -49.72%
2021-04-28     Sunday   $82,203.16   $116,991.26       -29.74%
2021-04-29     Monday   $33,530.26    $66,652.65       -49.69%
2021-04-30    Tuesday   $30,105.24    $34,828.19       -13.56%
...               ...           ...           ...          ...
2021-08-27    Tuesday        $0.00         $0.01       -45.07%
2021-08-28  Wednesday        $0.00         $0.00       -32.94%
2021-08-29   Thursday        $0.00         $0.00       -38.06%
2021-08-30     Friday        $0.00         $0.00       -24.58%
2021-08-31   Saturday        $0.00         $0.00       -49.77%

[128 rows x 4 columns]

In [4]:
ts.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 128 entries, 2021-04-26 to 2021-08-31
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   DOW           128 non-null    object
 1   Daily         128 non-null    object
 2   Forecast      128 non-null    object
 3   Percent Diff  128 non-null    object
dtypes: object(4)
memory usage: 5.0+ KB

In [5]:
def clean(x): return x.str.replace('[^\d]','',regex=True)
c_df = ts[['Daily','Forecast']].apply(clean, axis =1)
ts[['Daily', 'Forecast']] = c_df.astype(float)
ts

                  DOW       Daily    Forecast Percent Diff
Date
2021-04-26     Friday  12578989.0  23503646.0      -46.48%
2021-04-27   Saturday   9937401.0  19762255.0      -49.72%
2021-04-28     Sunday   8220316.0  11699126.0      -29.74%
2021-04-29     Monday   3353026.0   6665265.0      -49.69%
2021-04-30    Tuesday   3010524.0   3482819.0      -13.56%
...               ...         ...         ...          ...
2021-08-27    Tuesday         0.0         1.0      -45.07%
2021-08-28  Wednesday         0.0         0.0      -32.94%
2021-08-29   Thursday         0.0         0.0      -38.06%
2021-08-30     Friday         0.0         0.0      -24.58%
2021-08-31   Saturday         0.0         0.0      -49.77%

[128 rows x 4 columns]

In [12]:
#Lendo de um arquivo Excel
# Para ler excel será necessário ter um biblioteca adicional, que pode ser xlrd ou openpyxl
# xlrd: somente arquivos .xls
#openpyxl: .xls e .xlsx

path = Path('Datasets/Cap2/sales_trx_data.xlsx')

#Para ver as sheets dentro do arquivo excel fazemos:
excel_file = pd.ExcelFile(path)
excel_file.sheet_names

['2017', '2018']

In [13]:
#Vou ler as duas sheets
ts = pd.read_excel(path, 
                   engine='openpyxl',
                   index_col=1,
                   sheet_name=[0,1],
                   parse_dates=True)

ts.keys()

dict_keys([0, 1])

In [14]:
ts

{0:             Line_Item_ID  Credit_Card_Number  Quantity  \
 Date
 2017-01-01             1    7437926611570790         1
 2017-01-01             2    7437926611570790         1
 2017-01-01             3    8421920068932810         3
 2017-01-01             4    8421920068932810         3
 2017-01-01             5    4787310681569640         1
 ...                  ...                 ...       ...
 2017-12-31         36760    3149176814183170         4
 2017-12-31         36761    2005206728506200         1
 2017-12-31         36762    2005206728506200         1
 2017-12-31         36763    1130414909788170         2
 2017-12-31         36764    1130414909788170         2

                                                  Menu_Item
 Date
 2017-01-01                                spicy miso ramen
 2017-01-01                                spicy miso ramen
 2017-01-01                               tori paitan ramen
 2017-01-01                               tori paitan ramen
 2017-01-01                            truffle butter ramen
 ...                                                    ...
 2017-12-31  vegetarian curry + king trumpet mushroom ramen
 2017-12-31                                  tonkotsu ramen
 2017-12-31                                  tonkotsu ramen
 2017-12-31                      soft-shell miso crab ramen
 2017-12-31                      soft-shell miso crab ramen

 [36764 rows x 4 columns],
 1:             Line_Item_ID  Credit_Card_Number  Quantity  \
 Date
 2018-01-01         36765    4178504356986060         1
 2018-01-01         36766    4178504356986060         1
 2018-01-01         36767    9385429783634070         2
 2018-01-01         36768    9385429783634070         2
 2018-01-01         36769    2528867357453560         1
 ...                  ...                 ...       ...
 2018-12-31         74120    1697055332228940         4
 2018-12-31         74121    6800009643487100         1
 2018-12-31         74122    6800009643487100         1
 2018-12-31         74123    5981057609583650         2
 2018-12-31         74124    5981057609583650         2

                               Menu_Item
 Date
 2018-01-01  burnt garlic tonkotsu ramen
 2018-01-01  burnt garlic tonkotsu ramen
 2018-01-01        vegetarian spicy miso
 2018-01-01        vegetarian spicy miso
 2018-01-01            tori paitan ramen
 ...                                 ...
 2018-12-31               tonkotsu ramen
 2018-12-31        vegetarian spicy miso
 2018-12-31        vegetarian spicy miso
 2018-12-31             spicy miso ramen
 2018-12-31             spicy miso ramen

 [37360 rows x 4 columns]}